# Import libraries

In [41]:
import pandas as pd

In [42]:
data = pd.read_csv('trading.csv')

In [43]:
data.head()

,Symbol,Price,Change %,Change,Bid,Ask,High,Low,Tech Rating
0,AEDAUD,0.41152,-0.65,-0.00269,0.41152,0.41232,0.41422,0.41038,Strong sell
1,AEDBRX,1.37920,-1.02,-0.01420,1.37920,1.37970,1.37920,1.37920,Sell
2,AEDCAD,0.37221,0.10,0.00036,0.37221,0.37301,0.37228,0.37130,Buy
3,AEDCHF,0.24603,-0.57,-0.00140,0.24603,0.24683,0.24746,0.24603,Sell
4,AEDEUR,0.25275,-0.35,-0.00090,0.25275,0.25315,0.25363,0.25235,Neutral

In [44]:
data['Tech Rating'][0] in ['Sell','Strong sell',]

True

In [45]:
sell =0
buy = 0
non = 0

for i in range (len(data)):
    if data['Tech Rating'][i] in ['Sell','Strong sell',]:
        data['Tech Rating'][i] = +1
        sell += 1
    elif data['Tech Rating'][i] in ['Buy', 'Strong Buy']:
        data['Tech Rating'][i] = -1
        buy += 1
    else:
        data = data.drop(index=i)
        non +=1
data = data.drop(['Symbol'],axis = 1)
data = data.reset_index(drop=True)
data

,Price,Change %,Change,Bid,Ask,High,Low,Tech Rating
0,0.41152,-0.65,-0.002690,0.41152,0.41232,0.414220,0.41038,1
1,1.37920,-1.02,-0.014200,1.37920,1.37970,1.379200,1.37920,1
2,0.37221,0.10,0.000360,0.37221,0.37301,0.372280,0.37130,-1
3,0.24603,-0.57,-0.001400,0.24603,0.24683,0.247460,0.24603,1
4,0.21659,-0.08,-0.000180,0.21659,0.21739,0.216860,0.21608,1
...,...,...,...,...,...,...,...,...
1126,0.07132,1.85,0.001297,0.07132,0.07140,0.071347,0.07132,-1
1127,0.21135,0.32,0.000680,0.21135,0.21143,0.212810,0.21070,-1
1128,0.04335,-0.28,-0.000120,0.04335,0.04415,0.044090,0.04335,1
1129,0.20930,0.34,0.000700,0.20930,0.21330,0.210300,0.20920,-1
1130,16.91020,0.44,0.073500,16.91020,16.91820,17.000500,16.89150,-1

In [37]:
print('Number of sell = ', sell)
print('Number of buy = ', buy)
print('Number of non = ', non)

Number of sell =  571
Number of buy =  560
Number of non =  369

In [38]:
df = pd.DataFrame(data)

# Export DataFrame to CSV
df.to_csv('trading_prepeard.csv', index=False)